@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<main id="main">







    <div class="contenedoformytabla">






        <div class="contenedordelform1">

            <div class="field" id="searchform">
                <input type="text" id="searchterm" placeholder="Buscar division" />
                <button type="button" id="search">IR</button>
            </div>


            <form class="row col-md-12 NuevoProyecto1">


                <div class="col-md-12">
                    <label for="inputEmail4" class="form-label">ID de la division</label>
                    <input type="text" class="form-control" id="inputEmail4">

                </div>
                <div class="col-md-12">
                    <label for="inputEmail4" class="form-label">Nombre de la division</label>
                    <input type="text" class="form-control" id="inputEmail43">

                </div>
                <div class="col-md-12">
                    <label for="inputEmail4" class="form-label">Jefe administrativo</label>
                    <input type="text" class="form-control" id="inputEmail41">
                </div>

                <div class="col-md-12">
                    <label for="inputEmail4" class="form-label">docentes</label>
                    <input type="text" class="form-control" id="inputEmail44">
                </div>
            </form>


            <div class="colbtndivision">
                <div class="colbtn1">
                    <button type="submit" class="btn btn-primary">AGREGAR</button>
                </div>
                <div class="colbtn1">
                    <button type="submit" class="btn btn-primary">CAMBIAR</button>
                </div>
                <div class="colbtn1">
                    <button type="submit" class="btn btn-primary">BORRAR</button>
                </div>
            </div>
        </div>










        <div class="contenedordelatabladivision">
            <table class="table caption-top">
                <caption><h1><center>LISTA DE DIVISIONES</center></h1></caption>
                <thead>
                    <tr>
                        <th scope="col">ID De la division</th>
                        <th scope="col">Nombre del la division</th>
                        <th scope="col">Jefe administrativo</th>
                        <th scope="col"></th>
                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <th>101</th>
                        <th>DSM</th>
                        <td>CHUCK UC JOEL</td>
                        <td><button type="button" class="btn1 btn-primary">VER</button></td>

                    </tr>
                    <tr>
                        <th>101</th>
                        <th scope="row">ER</th>
                        <td>SEBASTIN MEDEZ ACOSTA</td>
                        <td>
                            <button type="button" class="btn1 btn-primary">VER</button>
                        </td>
                    </tr>
                    <tr>
                        <th>101</th>
                        <th scope="row">DSM</th>
                        <td>LAURA CASTILLA SALAZAR</td>
                        <td>
                            <button type="button" class="btn1 btn-primary">VER</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>





    <section id="cliens1" class="cliens section-bg">
        <div class="container">

            <div class="row" data-aos="zoom-in">

                <div class="col">
                    <h1>NO OLVIDES VISITAR LOS PROYECTOS</h1>
                </div>
            </div>

        </div>

    </section>




</main>