<!-- Navbar -->

@{
    @using Microsoft.AspNetCore.Http;
    if (string.IsNullOrEmpty(Context.Session.GetString("Correo")))
    {
        @Html.Raw("no existe una cuenta logueada")
         
    }
    else
    {
        @Html.Raw("Usuario " + Context.Session.GetString("Correo"))
    }
 }
<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto"><a a class="nav-link scrollto active" asp-area="" asp-controller="Home" asp-action="Index">UTM</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" asp-area="" asp-controller="Home" asp-action="Index">INICIO</a></li>
                <li><a class="nav-link scrollto" asp-area="" asp-controller="Home" asp-action="Proyectos">PROYECTOS</a></li>
                <li><a class="nav-link scrollto" asp-area="" asp-controller="Home" asp-action="Divisiones">DIVISIONES</a></li>
                <li><a class="nav-link scrollto" asp-area="" asp-controller="Home" asp-action="AcercaDe">ACERCA DE</a></li>
                @{
                    @using Microsoft.AspNetCore.Http;
                    if (string.IsNullOrEmpty(Context.Session.GetString("Correo")))
                    {
                       
                        <li class="sesion123"><a class="getstarted scrollto" asp-area="" asp-controller="Home" asp-action="Login">INICIAR SESION</a></li>
                    }
                    else
                    {
                        
                        <li class="dropdown">
                            <a href="#" class="getstarted scrollto" name="sesion123"> @Html.Raw(Context.Session.GetString("Correo"))</a> <i class="bi bi-chevron-down"></i>
                            <ul>


                                <li><a class="nav-link scrollto" asp-area="" asp-controller="Registrosalumnoes" asp-action="Index">ALUMNOS</a></li>
                                <li><a class="nav-link scrollto" asp-area="" asp-controller="Registrosprofesores" asp-action="Index">PROFESORES</a></li>
                                <li><a class="nav-link scrollto" asp-area="" asp-controller="Divisiones" asp-action="Index">DIVISIONES</a></li>
                                <li><a class="nav-link scrollto" asp-area="" asp-controller="Proyectoes" asp-action="Index">PROYECTOS</a></li>
                                
                                <li><a class="btn btn-primary" asp-action="LogOut" asp-controller="Home">CERRAR CESION</a> <i class="bi bi-chevron-down"></i>

                            </ul>
                        </li>
                    }
                }


            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>



</header>
	<!-- /.navbar -->
